{% include "../layout/head.html" %}

{% include "../layout/navbar.html" %}


<div class="container-fluid">
  <div class="container">
    
    <div class="row section-top">
      <h1 class="text-xl">UN MILIARDO DI UTENTI <br> TI ASPETTA</h1>
      <h2>
        Il web è sempre più un’esperienza sociale. 

  Gli utenti oggi utilizzano anche i social network per informarsi e valutare gli hotel, i bed & breakfast, gli agriturismi e le case vacanza.<br>

  Con una forte presenza su Facebook, potrai raggiungere i tuoi potenziali clienti ed instaurare con loro una relazione proficua. 

  Inoltre potrai permettergli di prenotare da te senza neanche lasciare il social network.
      </h2>
      
        
        <a href="#!" class="btn btn-md btn-rounded btn-dark margin-t-sm trigger-overlay">PROVA SUBITO - GRATIS PER 30 GIORNI</a>
        <br>

      <div class="col-md-10 col-md-offset-1 text-center wow fadeInDown">
        <img class="device" src="/img/services/fb-top.png">
      </div>
    </div>

  </div>
</div>



<div class="container-fluid background-light" >
  <div class="container">
    <div class="row section">
      <div class="col-md-6  wow fadeInLeft" data-wow-delay="0.2s">
        <h1>TARIFFE SEMPRE AGGIORNATE</h1>
        <h3>Grazie a ZenSuite potrai aggiornare le tue tariffe su Facebook direttamente dall'interfaccia del booking engine e queste verranno automaticamente caricate anche sul tuo Facebooking.<br><br>

Altri sistemi ti permettono di caricare le tariffe e le disponibilità in maniera separata tra il booking engine standard e Facebook creando dispersione di tempo, energie e aumentando la probabilità di errore. Noi no.</h3>
      </div>
      <div class="col-md-6 wow fadeInRight text-center" data-wow-delay="0.4s">
        
       
        <div class="ipad-mid pull-right">
          <div class="ipad-mid-inside">
            <div class="banner">
              <ul>
                <li class="ipad-mid-fb-book"></li>
              </ul>
            </div>
          </div>
        </div>
                
                
      </div>
    </div>
      
    <div class="row section">
      <div class="col-md-6 wow fadeInLeft text-center" data-wow-delay="0.4s">
        
    <img src="/img/services/edit-content-iphone.png" style="width:100%">
        
    </div>
      <div class="col-md-6 wow fadeInRight text-right" data-wow-delay="0.2s">
        <h1>NESSUN LAVORO EXTRA</h1>
        <h3>Non dovrai più preoccuparti di dover mantenere costantemente aggiornate le informazioni che compaiono su Facebook: <br>

l'App di ZenSuite può caricare direttamente i testi e le foto che utilizzi per creare o aggiornare il tuo sito, così ogni modifica che fai apparirà automaticamente anche sulla tua pagina Facebook. 
<br><br>
Riprenditi il tuo tempo!
        </h3>
      </div>
    </div>
  
    
  </div>
</div>



<div class="container-fluid section-bottom">
  <div class="container">
        
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-md">Altre caratteristiche</h1>
        <h2>Oltre alle caratteristiche citate ZenSuite ti offre anche una serie di vantaggi che ti permetteranno di aumentare la tua visibilità online, di avere maggiori prenotazioni, gestire la tua struttura sfruttando tutte le tecniche delle grandi catene alberghiere e, soprattutto, avere più tempo a disposizione che potrai dedicare ai tuoi clienti.</h2>
      </div>
    </div>
        
    <div class="row padding-t-md">
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/ambasciatori.png">
        <h4>Ambasciatori del tuo brand</h4>
        <p>Oggi più che mai il passaparola è il primo strumento di marketing. Crea la tua comunità, fai campagne di engagement e rendi i tuoi clienti i primi ambasciatori del tuo hotel.</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/offerte.png">
        <h4>Offerte dedicate</h4>
        <p>La tua pagina Facebook è un prezioso punto di contatto con i tuoi ospiti: coltiva le relazioni con loro offrendo pacchetti o offerte dedicate solo ai tuoi fan</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/mappe.png">
        <h4>Mappe di Facebook</h4>
        <p>La nostra App genera una mappa personalizzata e geolocalizza la tua struttura nell'enorme database di attività commerciali che è Facebook Nearby.</p>
      </div>
    </div>
        
    <div class="row padding-b-md">
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/setup.png">
        <h4>Setup Velocissimo</h4>
        <p>Fare il set-up non è mai stato così facile: ci serve solamente l'indirizzo internet della tua pagina Facebook e la App verrà immediatamente installata.</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/per-te.png">
        <h4>Pensato per TE!</h4>
        <p>Solo una esperienza pensata esclusivamente per hotel può renderti giustizia: valorizza gli aspetti migliori della tua struttura con immagini ottimizzate per la visualizzazione su Facebook.</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/like.png">
        <h4>Trasforma i Like in prenotazioni</h4>
        <p>Migliora la tua strategia sui Social Network con le nostre guide e i tutorial del nostro Blog. Perchè i "Like" non contano, se poi non diventano prenotazioni.</p>
      </div>
    </div>
      
  </div>
</div>
 

{% include "../layout/footer.html" %}