<div class="navbar navbar-service navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">undefined</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" href="#">
        <a href="/">
          <div class="logo"></div>
          <span><b>Zen</b>Suite</span>
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse text-center">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">undefined <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/general">undefined</a></li>
            <li><a href="/booking-engine">BOOKING ENGINE</a></li>
            <!--<li><a href="/website-builder">undefined</a></li>-->
            <li><a href="/mobile">MOBILE</a></li>
            <li><a href="/facebook-app">FACEBOOK APP</a></li>
          </ul>
        </li>
        <!--<li><a href="#prezzi">undefined</a></li>-->
        <li><a href="http://blog.zensuite.net">undefined</a></li>
        <!--<li><a href="#accedi">undefined</a></li>
        <li><a href="#registrati">undefined</a></li>-->
      </ul>
    </div>
  </div>
</div>