{% include "../layout/head.html" %}

{% include "../layout/navbar.html" %}

<div class="container">

  <div class="row section-top">
    <h1 class="text-xl">RICEVI PRENOTAZIONI DIRETTAMENTE DAL TUO SITO</h1>
    <h2>
      I clienti sono ormai abituati a prenotare online. Il booking engine di
      <b>ZenSuite</b> ti consente di ricevere prenotazioni sul tuo sito, gestendo in modo flessibile e completo tutte le tue esigenze di camere e tariffazioni. Potrai gestire le garanzie delle prenotazioni come caparre, cancellation policy e preautorizzazioni sulle carte di credito per metterti al riparo dai no-show.
    </h2>

    <div class="col-md-10 col-md-offset-1 text-center wow fadeInDown">
      <img class="device" src="/img/services/bookimg-top.png">
      <br>
      <a class="btn btn-md btn-rounded btn-dark margin-t-sm">PROVA SUBITO - GRATIS PER 30 GIORNI</a>
    </div>
  </div>

</div>


<div class="container-fluid background-light">
  <div class="container">
    
    <div class="row section">
      <div class="col-md-5  wow fadeInLeft" data-wow-delay="0.2s">
        <h1>TARIFFE VELOCI</h1>
        <h3>
          La più veloce e completa modalità di creazione delle tariffe, delle offerte e dei pacchetti.
          <br>Sappiamo che la velocità è importante, sia per reagire velocemente a nuove prenotazioni che per avere più tempo possibile da dedicare ai propri clienti.
          <br>Noi abbiamo creato un'interfaccia pensata proprio per questo. Intuitiva, chiara e facilissima da usare
        </h3>
      </div>
      <div class="col-md-7 wow fadeInRight text-center" data-wow-delay="0.4s">
     
      <div class="magnify macbook-magnify">
        <div class="large"></div>
        <img class="small" src="/img/services/macbook-full-rate-lg.png" width="500" />
      </div>

      </div>
    </div>

    <div class="row section">
      
      <div class="col-md-6 wow fadeInLeft text-center" data-wow-delay="0.4s">
        <div class="ipad-mid">
          <div class="ipad-mid-inside">
            <div class="banner">
              <ul>
                <li class="ipad-mid-map"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 wow fadeInRight text-right" data-wow-delay="0.2s">
        <h1>OFFERTE DEDICATE</h1>
        <h3>Segmentare la clientela è importante.
          <br>Con ZenSuite non solo potrai farlo ma avrai la possibilità di creare offerte e pacchetti dedicati ai vari segmenti: a chi prenota da Facebook o da mobile.
          <br>Inoltre potrai dedicare offerte speciali ai tuoi clienti in base alla loro provenienza geografica: Germania, Francia, Spagna, o dovunque tu voglia
        </h3>
      </div>
      
    </div>
  </div>
</div>


<div class="container-fluid section-bottom">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-md">Altre caratteristiche</h1>
        <h2>Inoltre il booking engine di ZenSuite offre la massima protezione contro le frodi grazie ai protocolli SSL e PCI Compliance, ti consente di gestire tutti i pagamenti con carte di credito, comprese preautorizzazioni e caparre. Potrai anche vendere servizi extra direttamente online, come i transfer dall'aeroporto e inviare messaggi personalizzati ai tuoi clienti. Inoltre non paghi nessuna commissione sulle vendite.</h2>
      </div>
    </div>

    <div class="row padding-t-md">
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/sicurezza.png">
        <h4>Sicurezza e Protezione</h4>
        <p>Grazie ai protocolli di sicurezza SSL (Secure Socket Layer) e PCI DSS (Payment Card Industry Data Security Standard) tutte le transazioni sono protette</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/pagamenti.png">
        <h4>Pagamenti Digitali</h4>
        <p>Raccogli pagamenti e caparre direttamente online. Preautorizza automaticamente le carte di credito dei tuoi clienti per garantirti dai no-show</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/mobile.png">
        <h4>Ottimizzato per Mobile</h4>
        <p>Completamente disponibile da smartphone. Sia per te, così potrai cambiare tariffe, disponibilità e inserire prenotazioni anche in mobilità, sia per i tuoi clienti</p>
      </div>
    </div>

    <div class="row padding-b-md">
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/packaging.png">
        <h4>Dynamic Packaging</h4>
        <p>Il Dynamic Packaging ti consentirà di vendere direttamente da mobile tanti servizi extra che possono interessare al cliente</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/zero.png">
        <h4>0% Commissioni</h4>
        <p>Siamo convinti che, poichè noi non interveniamo direttamente sul tuo processo di vendita, non sia corretto prendere commissioni. Punto.</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/envelope.png">
        <h4>Messaggi Personalizzati</h4>
        <p>Potrai personalizzare i messaggi che invii ai clienti. Sia alla conferma della prenotazione, sia pochi giorni prima del loro arrivo, sia dopo la partenza.</p>
      </div>
    </div>

  </div>
</div>


{% include "../layout/footer.html" %}