<!-- open/close -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close">{{tr["Close"]}}</button>
    <div class="container">
        
        
        <ul>
            <form class="form-overlay" action="http://demo.zensuite.net/user" role="form">
              <li>
                <div class="form-group">
                  <label for="name">{{tr["Name"]}}</label>
                  <input type="text" class="form-control" name="name" id="name" placeholder="{{tr["Name"]}}">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label for="surname">{{tr["Surname"]}}</label>
                  <input type="text" class="form-control" name="surname" id="surname" placeholder="{{tr["Surname"]}}">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label for="phone">{{tr["Phone number"]}}</label>
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="{{tr["Phone number"]}}">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label for="email">{{tr["Email address"]}}</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="{{tr["Email address"]}}">
                </div>
              </li>
            <li>
              <button class="btn btn-box btn-lg btn-block" type="submit">{{tr["Request Demo"]}}</button>
            </li>
            </form>
        </ul>
        
    </div>
    
    
    <!--<div class="container">
      <form role="form">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <input type="file" id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Check me out
          </label>
        </div>
        
      </form>
    </div>-->
</div>
		
		
<div class="footer">
  <div class="row">
    <div class="col-sm-4">
      <a href="/">
        <div class="logo-white"></div>
        <h2><b>Zen</b>Suite</h2>
      </a>
      <ul class="social-icons list-inline">
        <li><a href="https://www.facebook.com/zensuite"><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-8 pull-right text-right">
      <p>&copy; 2014 ZenTechnologies Ltd | {{tr["All Rights Reserved"]}}</p>
    </div>
  </div>
</div>
  

<!-- JS -->
<script src="/bower_components/prefixfree/prefixfree.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/js/services/modernizr.custom.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/unslider/src/unslider.min.js"></script>
<script src="/bower_components/wow/dist/wow.min.js"></script>
<script src="/js/services/morphing-device.js"></script>

<script src="/js/services/classie.js"></script>
<script src="/js/services/fullscreen-overlay.js"></script>

<script src="/js/services/magnifying.js"></script>
<script src="/js/services/main.js"></script>


</body>

</html>