<div class="navbar navbar-service navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{{tr["Toggle navigation"]}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand" href="#">
        <a href="/">
          <div class="logo"></div>
          <span><b>Zen</b>Suite</span>
        </a>
      </div>
    </div>
    <div class="collapse navbar-collapse text-center">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{tr["SERVIZI"]}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/general">{{tr["PANORAMICA"]}}</a></li>
            <li><a href="/booking-engine">{{tr["BOOKING ENGINE"]}}</a></li>
            <!--<li><a href="/website-builder">{{tr["WEBSITE BUILDER"]}}</a></li>-->
            <li><a href="/mobile">{{tr["MOBILE"]}}</a></li>
            <li><a href="/facebook-app">{{tr["FACEBOOK APP"]}}</a></li>
          </ul>
        </li>
        <!--<li><a href="#prezzi">{{tr["PREZZI"]}}</a></li>-->
        <li><a href="http://blog.zensuite.net">{{tr["BLOG"]}}</a></li>
        <!--<li><a href="#accedi">{{tr["ACCEDI"]}}</a></li>
        <li><a href="#registrati">{{tr["REGISTRATI"]}}</a></li>-->
      </ul>
    </div>
  </div>
</div>