body {
  padding-top: 50px;
}

strong {
  color: #0f647d;
}

.full {
  margin: 0 auto;
  width: 100%;
}

.section {
  padding: 10px 35px;
  text-align: center;
  /*ackground-color: #ffffff;*/
  width: 100%;
  float:left;
  min-height: 400px;  

}

.section h1{
text-transform: uppercase;
font-weight: 100;
color: #0f647d;;
}

.leader {
  font-size: 2.8em;
  font-weight: 200;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .leader {
    font-size: 5.1em;
  }
}

.section2 {
  padding: 50px 35px 30px 35px;
  text-align: center;
  background-color: #fff;
  width: 100%;
  float:left;
  min-height: 400px;  
}

.section2 h1{
text-transform: uppercase;
font-weight: 100;
color: #0f647d;
}

.section2 h3{
  color: #0f647d;
}

.section3 {
  padding: 45px 35px;
  text-align: center;
  /*background-color: #ffffff;*/
  border-top: 1px solid #f1f1f1;
  width: 100%;
  float:left;
  min-height: 620px;  
}

.section3 h1{
text-transform: uppercase;
font-weight: 100;
color: #0f647d;
}

.section4 {
  padding: 15px 35px;
  text-align: center;
  /*background-color: #f5f5f5;*/
  width: 100%;
  float:left;
  min-height: 620px;  
}

.section4 h1{
text-transform: uppercase;
font-weight:100;

color: #0f647d;
}


.mail {
  text-align: center;
  background-color: #fff;
  width: 100%;
  float:left;
  min-height: 150px; 
  border-top: 1px solid #f1f1f1;
  padding:15px 15px;
  margin-top:10px;
  
}

@media (min-width: 768px) {
.mail {
  text-align: center;
  background-color: #fff;
  width: 100%;
  float:left;
  height: 120px; 
  border-top: 1px solid #f1f1f1;
  padding:15px 15px;
  margin-top:-170px;
  background: -webkit-linear-gradient(top,rgba(255,255,255,.8) 0%,rgba(255,255,255,1) 45%);
}
}


.mail p{
 padding-top:20px;
}

.mail2 {
  text-align: center;
  background-color: #fafafa;
  width: 100%;
  float:left;
  height: auto; 
  /*border-top: 1px solid #cdcdcd;*/
  padding:15px 15px;
}

.mail2 p{
 padding-top:20px;
}


.footer {
  padding: 30px 15px 15px 15px;
  text-align: center;
  background-color: #222222;
  width: 100%;
  float:left;
 
}
.footer  p{
  color:#f2f2f2;
}

}
.logo img {
  height:20px;
  margin-top:-5px;

}

.device {
  width: 100%;
  z-index:0;
}

.B {
  width: 50%;
  margin-top:1px;
}

@media (min-width: 768px) {
  .B{
    font-size: 16px;
    margin-top:-10px;
    width: 45%;

  }
}

.C {
  width: 45%;
}

@media (min-width: 768px) {
  .C{
    font-size: 16px;
    margin-top:50px;
    width: 100%;
  }
}



.A{
  font-size: 15px;
  font-weight: 100;
  line-height: 1.6;

}

@media (min-width: 768px) {
  .A {
    font-size: 16px;
  }
}

.D{
  font-size: 15px;
  font-weight: 200;
  line-height: 1.4;

}

@media (min-width: 768px) {
  .D {
    font-size: 16px;

  }
}

.txt {
  margin-top:10px;
  
}

@media (min-width: 768px) {
  .txt {
    
    text-align: left;
    padding-left:100px;
    padding-right:100px;
    margin-top:-40px;
    
  
  }
}

.txt2 {
  margin-top:10px;
  
}

@media (min-width: 768px) {
  .txt2 {
    
    text-align: left;
    padding-left:100px;
    padding-right:100px;

  
  }
}

.car h4 {
  color: #0f647d;
}

.car1 h4 {
  color: #0f647d;
}

.car2 h4 {
  color: #0f647d;
}

.car3 h4 {
  color: #0f647d;
}

@media (min-width: 968px) {
.car {
  /*border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;*/
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9em;
  
  }
}

@media (min-width: 968px) {
.car1 {
  /*border-bottom: 1px solid #e0e0e0;*/
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9em;
  }
}

@media (min-width: 968px) {
.car2 {
  /*border-right: 1px solid #e0e0e0; 
  padding-top:10px;*/
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9em;

  }
}

@media (min-width: 968px) {
.car3 {
  /*padding-top:10px;*/
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.9em;

  }
}

.menufot {
  display: none;

}

.menufot label {
  color:#4d4d4d;

}

@media (min-width: 968px) {
.menufot {
  margin-left:-30px;
  display:inherit;

  }
}

.copy {
margin-top:5px;
}

@media (min-width: 968px) {
.copy {
  margin-top:50px;


  }
}

.menufot a {
  text-decoration: none;
  color:#4d4d4d;
  
}

.menufot li,a:hover {
  text-decoration: none;
  color:#b3b3b3;

}

.menufot ul {
  color:#666666;
  
}

.copy a {
  text-decoration: none;
  color:#4d4d4d;
}

.copy a:hover {
  text-decoration: none;
  color:#b3b3b3;
}

.copy p {
  color:#4d4d4d;
  font-size:11px;
  text-align: left;
}

@media (min-width: 968px) {
.social 
{
margin-left: -20px;
padding: 0;
list-style-type: none;
float:right;
text-align: right;

}
}

.social {
  float:left;

}

.social ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

.social ul li { display: inline; }

.social ul li a
{
text-decoration: none;
}

.social ul li a:hover
{
opacity: 0.3;
}

.social img {
  height:30px;
}

.lead {
margin-bottom: 10px;
font-size: 16px;
font-weight: 200;
line-height: 1.6;
}

.char {
  margin-bottom:40px;
}

.imchar {
  margin-bottom:10px;
}


.imcharb {  
 
}

@media (min-width: 968px) {
.imcharb {
  margin-bottom:10px;
  margin-top:20px;
}
}

.form-inline {

  margin-top:20px;
}

