<div class="footer">
  <div class="row">
    <div class="col-sm-4">
      <a href="/">
        <div class="logo-white"></div>
        <h2><b>Zen</b>Suite</h2>
      </a>
      <ul class="social-icons list-inline">
        <li><a href="https://www.facebook.com/zensuite"><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-8 pull-right text-right">
      <p>&copy; 2014 ZenTechnologies Ltd | All Rights Reserved</p>
    </div>
  </div>
</div>
  

<!-- JS -->
<script src="/bower_components/prefixfree/prefixfree.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/js/services/modernizr.custom.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/unslider/src/unslider.min.js"></script>
<script src="/bower_components/wow/dist/wow.min.js"></script>
<script src="/js/services/morphing-device.js"></script>
<script src="/js/services/magnifying.js"></script>
<script src="/js/services/main.js"></script>


</body>

</html>