{% include "../layout/head.html" %}

{% include "../layout/navbar.html" %}

  <div class="container">
              
  <div class="row section-top">
    <h1 class="text-xl">SMARTPHONE</h1>
    <h1 class="text-md">NON IL FUTURO MA IL PRESENTE</h1>
    <h3>
      Gli smartphone hanno modificato il modo con cui le persone ususfruiscono di internet. Il traffico da dispositivi mobile è in continua crescita, sempre più persone usano lo smartphone come strumento esclusivo per navigare online. Il 20% delle ricerche hotel vengono effettuate da mobile. E tu sei raggiungibile?
    </h3>

    <div class="col-md-10 col-md-offset-1 text-center wow fadeInDown">
      <img class="device" src="/img/services/mobile-top.png">
      <br>
      <a class="btn btn-md btn-rounded btn-dark margin-t-sm">PROVA SUBITO - GRATIS PER 30 GIORNI</a>
    </div>
  </div>
      
</div>


<div class="container-fluid background-light" >
  <div class="container">
    <div class="row section">
      <div class="col-md-6  wow fadeInLeft" data-wow-delay="0.2s">
        <h1>Tap to Call</h1>
        <h3>
          Sei solo a un centimetro di distanza dai tuoi clienti: tra il loro dito e lo smartphone. Basterà un solo tocco ai tuoi clienti per contattarti direttamente e prenotare il tuo hotel. In un mondo in cui il tempo non basta mai far risparmiare anche pochi, fondamentali, secondi al tuo cliente può fare la differenza tra una scocciatura e una prenotazione. Perchè perdere l'opportunità?
        </h3>
      </div>
      <div class="col-md-6 wow fadeInRight text-center" data-wow-delay="0.4s">
        
        <div class="iphone-mid">
          <div class="iphone-mid-inside">
            <div class="banner">
              <ul>
                <li class="iphone-mid-tap"></li>
                <li class="iphone-mid-rate"></li>
              </ul>
            </div>
          </div>
        </div>
                
      </div>
    </div>
      

    
    
    <div class="row section">
      <div class="col-md-6 wow fadeInLeft text-center" data-wow-delay="0.4s">
        

<div class="iphone-mid">
          <div class="iphone-mid-inside">
            <div class="banner">
              <ul>
                <li class="iphone-mid-home"></li>
                <li class="iphone-mid-rate"></li>
              </ul>
            </div>
          </div>
        </div>
        
    </div>
      <div class="col-md-6 wow fadeInRight text-right" data-wow-delay="0.2s">
        <h1>Booking Engine dedicato</h1>
        <h3>Il booking engine di ZENsuite è integrato e dedicato agli smartphone e ai tablet per ottimizzare l'esperienza di prenotazione e renderla più semplice e veloce. 

        L'interfaccia multitouch permette di rendere il procedimento e l'esperienza utente appagante e completa e trasforma il maggior numero di utenti in clienti trasformando la frustrazione in soddisfazione.
        </h3>
      </div>
    </div>
    
    
    
    
    
    
    
  </div>
</div>



<div class="container-fluid section-bottom">
  <div class="container">
        
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-md">Altre caratteristiche</h1>
        <h2>ZENsuite ti offre anche mappe dedicate per il mobile che sfruttano la geolocalizzazione del cliente, foto ottimizzate per smartphone per una navigazione più veloce, aggiornamenti costanti per tutti i nuovi device, la possibilità di effettuare offerte last second come HotelTonight, una immagine coordinata su tutti i device e un’ottimizzazione totale per una navigazione migliore.</h2>
      </div>
    </div>
        
    <div class="row padding-t-md">
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/mappe-dedicate.png" >
        <h4>Mappe Dedicate</h4>
        <p>le mappe sono automaticamente integrate e a un tap di distanza, per permettere all'utente di raggiungere la tua struttura in maniera sicura e veloce</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/foto-ottimizzate.png" >
        <h4>Foto Ottimizzate</h4>
        <p>Tutte le foto caricate su Ospita.me vengono automaticamente ottimizzate per essere fruibili nella maniera migliore da smartphone</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/sempre-pronto.png" >
        <h4>Sempre Pronto</h4>
        <p>Gli smartphone cambiano a una velocità incredibile. Con Ospita.me penseremo noi a renderlo immediatamente fruibile per ogni nuovo smartphone che esce</p>
      </div>
    </div>
        
    <div class="row padding-b-md">
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/offerte-dedicate.png">
        <h4>Offerte Dedicate</h4>
        <p>Crea offerte Last Second a tutti i tuoi clienti che prenotano da mobile, riuscirai così a riempire la tua struttura anche all'ultimo secondo</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/immagine-coordinata.png" >
        <h4>Immagine Coordinata</h4>
        <p>L'immagine del tuo sito mobile deriverà direttamente dal tuo sito web così il design rimarrà lo stesso evitando di creare confusione nei clienti</p>
      </div>
      <div class="col-md-4">
        <img class="wow bounceIn" src="/img/icons/leggero-veloce.png" >
        <h4>Leggero e Veloce</h4>
        <p>Elementi ottimizzati e leggerissimi permetteranno una velocità di caricamento del sito estrema. Aumentando la permanenza dei clienti e le probabilità di prenotazione</p>
      </div>
    </div>
      
  </div>
</div>
 

{% include "../layout/footer.html" %}